.userMenu {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
   align-items: center; 

  padding: 15px 0 15px 0;
}

.linkBox {
  display: flex;
  align-items: center;
}
.link {
  padding-left: 10px;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 00;
  font-size: 14px;
  line-height: 16px;
}
.button {
  max-width: 200px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #5eba7d;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  cursor: pointer;

  padding-left: 10px;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  margin-left: 20px;
}

.button:hover {
  background-color: #4ba16f;
}

.isActive {
  color: #4ba16f;
}
